@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, and Safari */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray;
}

body {
background-color: #303030;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  position: fixed;
  right: 0;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 14px;
}
